//base sizes
$main-container-size: 1266px;
//1296px with paddings
//base sizes
$sub-container-size: 1310px;
//colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #181818;
$color-red: #e8244f;

//brakepoints
$md-1: 320px;
$md-2: 480px;
$md-3: 768px;
$md-4: 1024px;
$md-5: 1920px;
